html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}img{vertical-align:top}a{text-decoration:none;outline:0}.clearfix{*zoom:1}.clearfix:after{content:"";display:block;clear:both}

#fp-nav{display:none}
#fullpage>div{position:relative}
#fullpage>div .txt>div{opacity:0;transition:all .5s}
#fullpage>div .txt_bottom>div{-webkit-transform:translate(0,30px);-moz-transform:translate(0,30px);-ms-transform:translate(0,30px);-o-transform:translate(0,30px);transform:translate(0,30px)}
#fullpage>div .txt_top>div{-webkit-transform:translate(0,-30px);-moz-transform:translate(0,-30px);-ms-transform:translate(0,-30px);-o-transform:translate(0,-30px);transform:translate(0,-30px)}
#fullpage>div .txt_right>div{-webkit-transform:translate(30px,0);-moz-transform:translate(30px,0);-ms-transform:translate(30px,0);-o-transform:translate(30px,0);transform:translate(30px,0)}
#fullpage>div .txt_left>div{-webkit-transform:translate(-30px,0);-moz-transform:translate(-30px,0);-ms-transform:translate(-30px,0);-o-transform:translate(-30px,0);transform:translate(-30px,0)}
#fullpage>div.active .txt>div{opacity:1;-webkit-transform:translate(0,0);-moz-transform:translate(0,0);-ms-transform:translate(0,0);-o-transform:translate(0,0);transform:translate(0,0)}
#fullpage>div.active .txt .list1{transition-delay:.5s}
#fullpage>div.active .txt .list2{transition-delay:.75s}
#fullpage>div.active .txt .list3{transition-delay:1s}
#fullpage>div.active .txt .list4{transition-delay:1.25s}

#gnb{width:1920px;height:80px;position:fixed;left:0;top:0;z-index:999999}
#logo{width:122px;height:30px;position:absolute;left:50px;top:30px}
#gnb>li{position:absolute;top:40px;height:12px;cursor:pointer}

#gnb>li:nth-child(2){width:145px;left:830px}
#gnb>li:nth-child(3){width:177px;left:1016px}
#gnb>li:nth-child(4){width:139px;left:1233px}
#gnb>li:nth-child(5){width:125px;left:1412px}
#gnb>li:nth-child(6){width:137px;left:1576px}
#gnb>li:nth-child(7){width:130px;left:1755px}
#gnb>li>a{display:block;height:100%}

#section01{background:url("../img/main/bg.png")no-repeat center top;background-size:cover}
#section01 .text{position:absolute;left:717px;top:620px}
#section01 .text>li{text-align:center;margin-bottom:20px}
#section01 .text>li:nth-child(1){opacity:0;transform:translate(0,30px);transition:all 1s}
#section01 .text.on>li:nth-child(1){opacity:1;transform:translate(0,0)}
#section01 .text>li:nth-child(2){margin-bottom:46px;opacity:0;transform:translate(0,30px);transition:all 1s}
#section01 .text.on>li:nth-child(2){opacity:1;transform:translate(0,0);transition-delay:.2s}
#section01 .text>li:nth-child(3){opacity:0;transform:translate(0,30px);transition:all 1s}
#section01 .text.on>li:nth-child(3){opacity:1;transform:translate(0,0);transition-delay:.5s}
#section01 .text.on{animation:text alternate 1.5s}@keyframes text{0%{opacity:0;transform:translate(0,30px)}100%{opacity:1;transform:translate(0,0)}}
#section01 .scroll{width:95px;height:48px;position:absolute;left:50%;margin-left:-47px;bottom:20px;text-align:center}
#section01 .scroll>div:nth-child(1){margin-bottom:10px}
#section01 .scroll.on{animation:scroll alternate 1s}@keyframes scroll{0%{opacity:1;transform:translate(0,10px)}100%{opacity:1;transform:translate(0,0)}}

body{
  background: #212121;
  padding: 10% 0;
}
.mouse{
  margin: 50px auto;
  width: 100px;
}.mouse-icon{
   width: 25px;
   height: 45px;
   border: 2px solid white;
   border-radius: 15px;
   cursor: pointer;
   position: absolute; left:960px; top:860px;
   text-align: center;
}.mouse-wheel{
  height: 6px;
  margin: 2px auto 0;
  display: block;
  width: 3px;
  background-color: white;
  border-radius: 50%;
  -webkit-animation: 1.6s ease infinite wheel-up-down;
 -moz-animation: 1.6s ease infinite wheel-up-down;
  animation: 1.6s ease infinite wheel-up-down;
}
@-webkit-keyframes wheel-up-down {
	0% {
	    margin-top: 2px;
	    opacity: 0;
	}
	30% {
	    opacity: 1;
	}
	100% {
	    margin-top: 20px;
	    opacity: 0;
	}
}@-moz-keyframes wheel-up-down {
	0% {
	    margin-top: 2px;
	    opacity: 0;
	}
	30% {
	    opacity: 1;
	}
	100% {
	    margin-top: 20px;
	    opacity: 0;
	}
}@keyframes wheel-up-down {
	0% {
	    margin-top: 2px;
	    opacity: 0;
	}
	30% {
	    opacity: 1;
	}
	100% {
	    margin-top: 20px;
	    opacity: 0;
	}
}

#section02{background:url("../img/demacia/dembg.jpg")no-repeat center top;background-size:cover}
#section02 .text{width:0px;height:0px;position:absolute;left:0%;margin-left:188px;top:298px}
#section02 .text>li{text-align:left;margin-bottom:40px}
#section02 .text>li:nth-child(5){width:164px;height:36px;background:url("../img/demacia/dembutton.png") no-repeat left center;position:relative;left:160px;cursor:pointer}
#section02 .text>li:nth-child(5)>div{background:#ffa32f;position:absolute;transition:all .2s}
#section02 .text>li:nth-child(5)>div:nth-child(1){width:1px;height:0;left:10px;bottom:0}
#section02 .text>li:nth-child(5)>div:nth-child(2){width:0;height:1px;left:10px;top:0}
#section02 .text>li:nth-child(5)>div:nth-child(3){width:1px;height:0;right:0;top:0}
#section02 .text>li:nth-child(5)>div:nth-child(4){width:0;height:1px;right:0;bottom:0}
#section02 .text>li:nth-child(5):hover>div:nth-child(1){height:36px}
#section02 .text>li:nth-child(5):hover>div:nth-child(2){width:154px;transition-delay:.2s}
#section02 .text>li:nth-child(5):hover>div:nth-child(3){height:36px;transition-delay:.3s}
#section02 .text>li:nth-child(5):hover>div:nth-child(4){width:154px;transition-delay:.4s}
#section02 .text>li:nth-child(1){opacity:0;transform:translate(0,30px);transition:all 1s}
#section02 .text.on>li:nth-child(1){opacity:1;transform:translate(0,0)}
#section02 .text>li:nth-child(2){opacity:0;transform:translate(0,30px);transition:all 1s}
#section02 .text.on>li:nth-child(2){opacity:1;transform:translate(0,0);transition-delay:.2s}
#section02 .text>li:nth-child(3){margin-bottom:24px;opacity:0;transform:translate(0,30px);transition:all 1s}
#section02 .text.on>li:nth-child(3){opacity:1;transform:translate(0,0);transition-delay:.5s}
#section02 .text>li:nth-child(4){opacity:0;transform:translate(0,30px);transition:all 1s}
#section02 .text.on>li:nth-child(4){opacity:1;transform:translate(0,0);transition-delay:.8s}
#section02 .text>li:nth-child(5){opacity:0;transform:translate(0,30px);transition:all 1s}
#section02 .text.on>li:nth-child(5){opacity:1;transform:translate(0,0);transition-delay:1s}
#section02 .text>li:nth-child(5)>a{width:164px;height:36px;position:absolute;left:0;top:0}
#section02 .line{width:166px;height:1px;position:absolute;left:625px;top:67px;background:#d1d1d1;transition:all 1s;opacity:0}
#section02 .line.on{opacity:1;transition-delay:.2s}

#section03{background:url("../img/converse/conbg.jpg")no-repeat center top;background-size:cover}
#section03 .text{width:0px;height:0px;position:absolute;left:0%;margin-left:1465px;top:233px}
#section03 .text>li{text-align:left;margin-bottom:40px}
#section03 .text>li:nth-child(5){width:164px;height:36px;background:url("../img/converse/cobutton.png") no-repeat left center;position:relative;left:160px;cursor:pointer}
#section03 .text>li:nth-child(5)>div{background:#ffa32f;position:absolute;transition:all .2s}
#section03 .text>li:nth-child(5)>div:nth-child(1){width:1px;height:0;left:10px;bottom:0}
#section03 .text>li:nth-child(5)>div:nth-child(2){width:0;height:1px;left:10px;top:0}
#section03 .text>li:nth-child(5)>div:nth-child(3){width:1px;height:0;right:0;top:0}
#section03 .text>li:nth-child(5)>div:nth-child(4){width:0;height:1px;right:0;bottom:0}
#section03 .text>li:nth-child(5):hover>div:nth-child(1){height:36px}
#section03 .text>li:nth-child(5):hover>div:nth-child(2){width:154px;transition-delay:.2s}
#section03 .text>li:nth-child(5):hover>div:nth-child(3){height:36px;transition-delay:.3s}
#section03 .text>li:nth-child(5):hover>div:nth-child(4){width:154px;transition-delay:.4s}
#section03 .text>li:nth-child(5)>a{width:164px;height:36px;position:absolute;left:0;top:0}
#section03 .text>li:nth-child(1){opacity:0;transform:translate(0,30px);transition:all 1s}
#section03 .text.on>li:nth-child(1){opacity:1;transform:translate(0,0)}#section03 .text>li:nth-child(2){opacity:0;transform:translate(0,30px);transition:all 1s}
#section03 .text.on>li:nth-child(2){opacity:1;transform:translate(0,0);transition-delay:.2s}
#section03 .text>li:nth-child(3){margin-bottom:47px;opacity:0;transform:translate(0,30px);transition:all 1s}
#section03 .text.on>li:nth-child(3){opacity:1;transform:translate(0,0);transition-delay:.5s}
#section03 .text>li:nth-child(4){opacity:0;transform:translate(0,30px);transition:all 1s}
#section03 .text.on>li:nth-child(4){opacity:1;transform:translate(0,0);transition-delay:.8s}
#section03 .text>li:nth-child(5){opacity:0;transform:translate(0,30px);transition:all 1s}
#section03 .text.on>li:nth-child(5){opacity:1;transform:translate(0,0);transition-delay:1s}
#section03 .line{width:162px;height:1px;position:absolute;left:826px;top:67px;background:#d1d1d1;transition:all 1s;opacity:0}
#section03 .line.on{opacity:1;transition-delay:.2s}

#section04{background:url("../img/koreanair/korbg.jpg")no-repeat center top;background-size:cover}
#section04 .text{width:0px;height:0px;position:absolute;left:0%;margin-left:208px;top:304px}
#section04 .text>li{text-align:left;margin-bottom:40px}
#section04 .text>li:nth-child(5){width:164px;height:36px;background:url("../img/koreanair/krcobutton.png") no-repeat left center;position:relative;left:50%;margin-left:-82px;cursor:pointer}
#section04 .text>li:nth-child(5)>div{background:#f092a3;position:absolute;transition:all .2s}
#section04 .text>li:nth-child(5)>div:nth-child(1){width:1px;height:0;left:10px;bottom:0}
#section04 .text>li:nth-child(5)>div:nth-child(2){width:0;height:1px;left:10px;top:0}
#section04 .text>li:nth-child(5)>div:nth-child(3){width:1px;height:0;right:0;top:0}
#section04 .text>li:nth-child(5)>div:nth-child(4){width:0;height:1px;right:0;bottom:0}
#section04 .text>li:nth-child(5):hover>div:nth-child(1){height:36px}
#section04 .text>li:nth-child(5):hover>div:nth-child(2){width:154px;transition-delay:.2s}
#section04 .text>li:nth-child(5):hover>div:nth-child(3){height:36px;transition-delay:.3s}
#section04 .text>li:nth-child(5):hover>div:nth-child(4){width:154px;transition-delay:.4s}
#section04 .text>li:nth-child(1){opacity:0;transform:translate(0,30px);transition:all 1s}
#section04 .text.on>li:nth-child(1){opacity:1;transform:translate(0,0)}
#section04 .text>li:nth-child(2){opacity:0;transform:translate(0,30px);transition:all 1s}
#section04 .text.on>li:nth-child(2){opacity:1;transform:translate(0,0);transition-delay:.2s}
#section04 .text>li:nth-child(3){margin-bottom:24px;opacity:0;transform:translate(0,30px);transition:all 1s}
#section04 .text.on>li:nth-child(3){opacity:1;transform:translate(0,0);transition-delay:.5s}
#section04 .text>li:nth-child(4){opacity:0;transform:translate(0,30px);transition:all 1s}
#section04 .text.on>li:nth-child(4){opacity:1;transform:translate(0,0);transition-delay:.8s}
#section04 .text>li:nth-child(5){opacity:0;transform:translate(0,30px);transition:all 1s}
#section04 .text.on>li:nth-child(5){opacity:1;transform:translate(0,0);transition-delay:1s}
#section04 .text>li:nth-child(5)>a{width:164px;height:36px;position:absolute;left:0;top:0}
#section04 .line{width:160px;height:1px;position:absolute;right:738px;top:67px;background:#d1d1d1;transition:all 1s;opacity:0}
#section04 .line.on{opacity:1;transition-delay:.2s}

#section05{background:url("../img/wemap/wembg.jpg")no-repeat center top;background-size:cover}
#section05 .text{width:0px;height:0px;position:absolute;left:0%;margin-left:1396px;top:270px}
#section05 .text>li{text-align:left;margin-bottom:40px}
#section05 .text>li:nth-child(5){width:164px;height:36px;background:url("../img/wemap/wprcobutton.png") no-repeat left center;position:relative;left:50%;margin-left:-82px;cursor:pointer}
#section05 .text>li:nth-child(5)>div{background:#b8dcfe;position:absolute;transition:all .2s}#section05 .text>li:nth-child(5)>div:nth-child(1){width:1px;height:0;left:10px;bottom:0}
#section05 .text>li:nth-child(5)>div:nth-child(2){width:0;height:1px;left:10px;top:0}
#section05 .text>li:nth-child(5)>div:nth-child(3){width:1px;height:0;right:0;top:0}
#section05 .text>li:nth-child(5)>div:nth-child(4){width:0;height:1px;right:0;bottom:0}
#section05 .text>li:nth-child(5):hover>div:nth-child(1){height:36px}
#section05 .text>li:nth-child(5):hover>div:nth-child(2){width:154px;transition-delay:.2s}
#section05 .text>li:nth-child(5):hover>div:nth-child(3){height:36px;transition-delay:.3s}
#section05 .text>li:nth-child(5):hover>div:nth-child(4){width:154px;transition-delay:.4s}
#section05 .text>li:nth-child(1){opacity:0;transform:translate(0,30px);transition:all 1s}
#section05 .text.on>li:nth-child(1){opacity:1;transform:translate(0,0)}
#section05 .text>li:nth-child(2){opacity:0;transform:translate(0,30px);transition:all 1s}
#section05 .text.on>li:nth-child(2){opacity:1;transform:translate(0,0);transition-delay:.2s}
#section05 .text>li:nth-child(3){margin-bottom:24px;opacity:0;transform:translate(0,30px);transition:all 1s}
#section05 .text.on>li:nth-child(3){opacity:1;transform:translate(0,0);transition-delay:.5s}
#section05 .text>li:nth-child(4){opacity:0;transform:translate(0,30px);transition:all 1s}
#section05 .text.on>li:nth-child(4){opacity:1;transform:translate(0,0);transition-delay:.8s}
#section05 .text>li:nth-child(5){opacity:0;transform:translate(0,30px);transition:all 1s}
#section05 .text.on>li:nth-child(5){opacity:1;transform:translate(0,0);transition-delay:1s}
#section05 .text>li:nth-child(5)>a{width:164px;height:36px;position:absolute;left:0;top:0}
#section05 .line{width:166px;height:1px;position:absolute;right:537px;top:67px;background:#d1d1d1;transition:all 1s;opacity:0}
#section05 .line.on{opacity:1;transition-delay:.2s}

#section06{background:url("../img/casamia/casabg.jpg")no-repeat center top;background-size:cover}
#section06 .text{width:0px;height:0px;position:absolute;left:0%;margin-left:100px;top:386px}
#section06 .text>li{text-align:left;margin-bottom:40px}
#section06 .text>li:nth-child(5){width:164px;height:36px;background:url("../img/casamia/cacobutton.png") no-repeat left center;position:relative;left:50%;margin-left:-82px;cursor:pointer}
#section06 .text>li:nth-child(5)>div{background:#f0ff89;position:absolute;transition:all .2s}
#section06 .text>li:nth-child(5)>div:nth-child(1){width:1px;height:0;left:10px;bottom:0}
#section06 .text>li:nth-child(5)>div:nth-child(2){width:0;height:1px;left:10px;top:0}
#section06 .text>li:nth-child(5)>div:nth-child(3){width:1px;height:0;right:0;top:0}
#section06 .text>li:nth-child(5)>div:nth-child(4){width:0;height:1px;right:0;bottom:0}
#section06 .text>li:nth-child(5):hover>div:nth-child(1){height:36px}
#section06 .text>li:nth-child(5):hover>div:nth-child(2){width:154px;transition-delay:.2s}
#section06 .text>li:nth-child(5):hover>div:nth-child(3){height:36px;transition-delay:.3s}
#section06 .text>li:nth-child(5):hover>div:nth-child(4){width:154px;transition-delay:.4s}
#section06 .text>li:nth-child(1){opacity:0;transform:translate(0,30px);transition:all 1s}
#section06 .text.on>li:nth-child(1){opacity:1;transform:translate(0,0)}
#section06 .text>li:nth-child(2){opacity:0;transform:translate(0,30px);transition:all 1s}
#section06 .text.on>li:nth-child(2){opacity:1;transform:translate(0,0);transition-delay:.2s}
#section06 .text>li:nth-child(3){opacity:0;transform:translate(0,30px);transition:all 1s}
#section06 .text.on>li:nth-child(3){opacity:1;transform:translate(0,0);transition-delay:.5s}
#section06 .text>li:nth-child(4){opacity:0;transform:translate(0,30px);transition:all 1s}
#section06 .text.on>li:nth-child(4){opacity:1;transform:translate(0,0);transition-delay:.8s}
#section06 .text>li:nth-child(5){opacity:0;transform:translate(0,30px);transition:all 1s}
#section06 .text.on>li:nth-child(5){opacity:1;transform:translate(0,0);transition-delay:1s}
#section06 .text>li:nth-child(5)>a{width:164px;height:36px;position:absolute;left:0;top:0}
#section06 .line{width:168px;height:1px;position:absolute;right:335px;top:67px;background:#d1d1d1;transition:all 1s;opacity:0}
#section06 .line.on{opacity:1;transition-delay:.2s}

#section07{background:url("../img/drjart/drjbg.jpg")no-repeat center top;background-size:cover}
#section07 .text{width:0px;height:0px;position:absolute;left:0%;margin-left:1428px;top:276px}
#section07 .text>li{text-align:left;margin-bottom:27px}
#section07 .text>li:nth-child(5){width:164px;height:36px;background:url("../img/drjart/drrcobutton.png") no-repeat left center;position:relative;left:50%;margin-left:-82px;cursor:pointer}
#section07 .text>li:nth-child(5)>div{background:#70d790;position:absolute;transition:all .2s}
#section07 .text>li:nth-child(5)>div:nth-child(1){width:1px;height:0;left:10px;bottom:0}
#section07 .text>li:nth-child(5)>div:nth-child(2){width:0;height:1px;left:10px;top:0}
#section07 .text>li:nth-child(5)>div:nth-child(3){width:1px;height:0;right:0;top:0}
#section07 .text>li:nth-child(5)>div:nth-child(4){width:0;height:1px;right:0;bottom:0}
#section07 .text>li:nth-child(5):hover>div:nth-child(1){height:36px}
#section07 .text>li:nth-child(5):hover>div:nth-child(2){width:154px;transition-delay:.2s}
#section07 .text>li:nth-child(5):hover>div:nth-child(3){height:36px;transition-delay:.3s}
#section07 .text>li:nth-child(5):hover>div:nth-child(4){width:154px;transition-delay:.4s}
#section07 .text>li:nth-child(1){opacity:0;transform:translate(0,30px);transition:all 1s}
#section07 .text.on>li:nth-child(1){opacity:1;transform:translate(0,0)}
#section07 .text>li:nth-child(2){opacity:0;transform:translate(0,30px);transition:all 1s}
#section07 .text.on>li:nth-child(2){opacity:1;transform:translate(0,0);transition-delay:.2s}
#section07 .text>li:nth-child(3){opacity:0;transform:translate(0,30px);transition:all 1s}
#section07 .text.on>li:nth-child(3){opacity:1;transform:translate(0,0);transition-delay:.5s}
#section07 .text>li:nth-child(4){opacity:0;transform:translate(0,30px);transition:all 1s}
#section07 .text.on>li:nth-child(4){opacity:1;transform:translate(0,0);transition-delay:.8s}
#section07 .text>li:nth-child(5){opacity:0;transform:translate(0,30px);transition:all 1s}
#section07 .text.on>li:nth-child(5){opacity:1;transform:translate(0,0);transition-delay:1s}
#section07 .text>li:nth-child(5)>a{width:164px;height:36px;position:absolute;left:0;top:0}
#section07 .line{width:183px;height:1px;position:absolute;right:117px;top:67px;background:#d1d1d1;transition:all 1s;opacity:0}
#section07 .line.on{opacity:1;transition-delay:.2s}